.movies__grid {
    max-width: 1140px;
    margin: auto;
}

.movies-container {
    flex-grow: 1;
}

.movies-container__error-message {
    margin: auto;
    font-size: 20px;
}

.movies-container__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(364px, 1fr));
    grid-template-rows: repeat(auto, 1fr);
    column-gap: 24px;
    row-gap: 37px;
    list-style: none;
    padding: 0;
    margin: 0 auto 10px;
    justify-self: center;
    max-width: max-content;
}

.movies-container__more {
    max-width: 1140px;
    margin: auto;
    display: flex;
    padding-bottom: 80px;
}

.movies-container__more-button {
    width: 320px;
    height: 36px;
    margin: 50px auto 0;
    background-color: #2F2F2F;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500px;
    line-height: 15px;
    cursor: pointer;
    visibility: visible;
    transition: opacity 0.3s linear;
}

.movies-container__more-button_disabled {
    visibility: hidden;
}

.movies-container__more-button:hover {
    opacity: 0.7;
}

@media all and (max-width: 1200px) {
    .movies__grid {
        max-width: calc(100% - (30px*2));
    }

    .movies-container__list {
        grid-template-columns: repeat(2, minmax(339px, 1fr));
        column-gap: 30px;
    }

    .movies-container__more {
        max-width: calc(100% - (30px*2));
    }
}

@media all and (max-width: 750px) {

    .movies-container__list {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

}

@media all and (max-width: 650px) {
    .movies__grid {
        max-width: calc(100% - (10px*2));
    }

    .movies-container__list {
        grid-template-columns: minmax(300px, 1fr);
        row-gap: 14px;
    }
}