.promo {
  background-color: #073042;
  }
  
  .promo__container {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    min-height: 560px;
    color: white;
  }

  .promo__art-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .promo__art {
    max-width: 722px;
    max-height: 244px;
    padding-bottom: 73px;
    margin-right: 70px;
  }

  .promo__heading {
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    max-width: 626px;
    margin: 0;
    padding-top: 50px;
    padding-left: 70px;
  }