.login {
    background-color: #202020;
    min-height: 100vh;
    font-family: "Inter", "Arial", sans-serif;
}

.login__input-label {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    color: #8B8B8B;
    padding-bottom: 5px;
    padding-top: 24px;
}

.login__input {
    background-color: #202020;
    border: none;
    border-bottom: 1px solid #424242;
    outline: none;
    color: white;
    height: 27px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login__input:hover {
    border-bottom: #4285F4 1px solid;
    transition: .3s border-bottom ease-in;
}

.login__input:focus {
    border-bottom: #4285F4 1px solid;
}

.login__error-span {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    color: #ee3465;
    position: absolute;
}

.login__input_invalid {
    color: #ee3465;
}

.login__error-span_type_email {
    top: 74px;
}

.login__error-span_type_password {
    top: 142px;
}